body{
    background-color: #f9f7f4;
}
.container{
    width:700px;
    margin-left: auto;
    margin-right: auto;
    margin: 0 auto;
}
.name{
    font-size:32px;
    color:#2F5EC3;
    font-family: 'Abel'; 
}
h1{
    margin-bottom: 10px;
}
#nameDescription{
    margin-bottom: 58px;
    color:#999;
    font-family: 'Abel';
    font-size:44px;

}
.projects{
    list-style: none;
    padding: 0px;
}
h3{
    display: inline;
    font-size:32px;
    color:#2F5EC3;
    font-family: 'Abel';
}

.code{
    float: right;
    font-size:16px;
}
li{
    border-bottom: 1px solid #ccc;
    margin-bottom: 3em;
    padding-bottom: 2.2em;
}
.projectDescription{
    font-family: georgia,times,serif;
    font-size: 18px;
    margin-top: 10px;
    
}