body{
    background-color: #f9f7f4;
}
.container{
    width:700px;
    margin-left: auto;
    margin-right: auto;
    margin: 0 auto;
}
.name{
    font-size:32px;
    color:#2F5EC3;
    font-family: 'Abel';
    text-align: center;
}
h1{
    margin-bottom: 10px;
}
#nameDescription{
    margin-bottom: -13px;
    color:#999;
    font-family: 'Abel';
    font-size:44px;
    text-align: center;
}
.projects{
    list-style: none;
    padding: 0px;
}

.projects a{
    text-decoration: none;
}
img{
    width:700px;
    padding-bottom: 15px;
}
h3{
    display: inline;
    font-size:32px;
    font-family: 'Abel';
}
h3 a:link{
    color:#2F5EC3;
}
h3 a:visited{
    color:#2F5EC3;
}
h3 a:hover {
   color: lightcoral;
}
#code{
    font-size:16px;
    
}
#codeLink, a:link{
    color:mediumpurple;
}
#codeLink, a:visited{
    color:mediumpurple;
}
#codeLink, a:hover{
    color:lightcoral;
}
li{
    border-bottom: 3px dotted #ccc;
    margin-bottom: 2.2em;
    padding-bottom: 2.2em;
    text-align: center;
}
.projectDescription{
    font-family: georgia,times,serif;
    font-size: 18px;
    margin-top: 10px;
    
}